.carousel-item img {
    z-index: -1;
}
.carousel-item h1 {
    color: white;
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.carousel-item {
    text-align: center;
}