.carouselExampleFade h1 {
    position: absolute;
    color: white;
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.carousel-caption {
    text-align: center;
    vertical-align: middle;
}